[submodule "2017/20171110-gre-symposium"]
	path = 2017/20171110-gre-symposium
	url = https://github.com/ome/presentation-20171110-gre-symposium.git
[submodule "2019/rseconuk2019-idr"]
	path = 2019/rseconuk2019-idr
	url = https://github.com/ome/rseconuk2019-idr.git
[submodule "2020/Dundee/Workshops/OME2020-OMERO-Installation"]
	path = 2020/Dundee/Workshops/OME2020-OMERO-Installation
	url = https://github.com/ome/OME2020-OMERO-Installation.git
